@model IEnumerable<ViewModel.Models.View.AB>

@{
    ViewData["AB"] = "AB";
}

<h1>AB</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.A.One)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.B.Two)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A.One)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B.Two)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.A.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.A.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.A.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
